body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #f4f4f4; */
  background-image: url(mary3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

main > * {
  align-self: center;
  width: 90%;
}

#resultado {
  margin: 20px;
  padding: 15px;
  background-color: rgba(82, 16, 16, 0.6);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

strong {
  color: #a7c8eb;
}

/* Estilo para a área de visualização da câmera (obrigatório para QuaggaJS) */
#interactive.viewport {
  position: relative;
  width: 90%; /* Ajuste para melhor encaixe no align-self */
  max-width: 300px;
  margin: 20px auto;
  height: 300px;
  overflow: hidden;
  border: 2px solid rgba(184, 187, 157, 0.8);
}

#interactive.viewport canvas,
#interactive.viewport video {
  width: 100%;
  height: 100%;
  /* Garante que o vídeo preencha a div sem distorcer (em geral) */
  object-fit: cover;
}

/* #btn-iniciar-scanner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 

  font-size: 12px;
  background-color: rgb(184, 187, 157);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#btn-iniciar-scanner:hover {
  background-color: rgb(176, 182, 119);
}

#btn-iniciar-scanner:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
} */

/* ... (Seções anteriores do styles.css) ... */

/* --- Estilos do Modal --- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  
}

.modal-content {
  background-color: #fafafa;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para inputs e botão dentro do modal */
.modal-content label,
.modal-content input,
.modal-content button {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: large;
}

.modal-content input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btn-adicionar {
  background-color: rgb(184, 187, 157);
  color: white;
  margin-top: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-adicionar:hover {
  background-color: #0056b3;
}
